*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background-color:purple;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    z-index: 1;
    padding: 5px 0px 5px 5px;
    background-color: rgb(192, 197, 201, 0.5);
    position: fixed;
    top: 0;
    left: 0;
  }
  .nav img{
    height: 100%;
  }
  .nav ul {
    display: flex;
  }
  .nav ul li {
    list-style-type: none;
    margin: 0 3vw;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  .nav ul li a {
    color: rgb(255, 255, 255);
  }
  .menu:hover {
    color: black;
    text-decoration: underline;
  }
  .contactpage{
      /* margin-top: 20vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      background-color: white; */
  }
  input{
      padding: 10px 4px;
      width: 100%;
      margin: 10px 0;
  }
  textarea{
      width: 100%;
  }